[user]
	name = Cameron Daniel
	email = cameron.daniel@megaport.com
[http]
	sslVerify = true
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[push]
    default = simple
[alias]
    k = log --graph --full-history --branches --tags --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
    ks = log --graph --full-history --branches --tags --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\" --simplify-by-decoration
